.battle {
	display:table;
	vertical-align:top;
	width:100%;
	height:55%;
	min-height:300px;
}

.battle_window {
	width:60%;
}

.battle_window_content {
	display:table;
	position:relative;
	width:100%;
	height:100%;
}

.battle_window_background {
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.p2_pokeballs {
	position:absolute;
	width:96px;
	top:10px;
	left:10px;
	font-size:0px; /* remove the space between pokéballs */
}


.p1_pokeballs {
	position:absolute;
	width:96px;
	bottom:10px;
	right:10px;
	font-size:0px; /* remove the space between pokéballs */
}

.p2_name {
	position:absolute;
	text-align:right;
	font-weight:bold;
	width:100px;
	top:10px;
	right:10px;
}

.p1_name {
	position:absolute;
	text-align:left;
	font-weight:bold;
	width:100px;
	bottom:10px;
	left:10px;
}

.p2_pokemon1, .p1_pokemon1 {
	position:absolute;
}

.battle_window_pokemon_infos {
	width:100%;
	position:absolute;
	top:-45px;
	text-align:center;
}

.battle_chat {
	display:table-cell;
	background-color:#f9f9f9;
	border-left:#f2f2f2;
}

.battle_chat_content {
	position:relative;
	width:100%;
	height:100%;
}

.scrollable {
	position:absolute;
	padding:10px;
	top:0px;
	left:0px;
	bottom:30px;
	right:0px;
	overflow:auto;
}

.messagebox {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:30px;
	text-align:center;
}

.messagebox input {
	width:100%;
	height:100%;
	text-indent:10px;
	background-color:#ffffff;
	border:1px solid #f2f2f2;
}

.battle-stat-content {
	font-size:10px;
	bottom:-10px;
}

.battle-stat-name {
	width:10px;
	bottom:-2px;
	text-align:center;
}

.battle-stat-block {
	left:10px;
}

.battle-stat-value {
	left:0px;
	right:0px;
	text-align:center;
}