/* css for contents of the chat window */

/* name part of server message */
.server-message {
    color: orange;
    font-weight: bold;
}

/* name part of welcome message */
.welcome-message {
    color: blue;
    font-weight: bold;
}

/* name part of scripted message / unknown name */
.script-message {
    color: #318739;
    font-weight: bold;
}

/* name part of player message */
.player-message {
    font-weight: bold;
}

/* line beginning with *** */
.action {
    color: magenta;
}
