html, body {
	font-size:13px;
	font-family:Tahoma, Arial;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

input {
	outline:none; /* Removing Webkit's effect on inputs */
}

h1 {
	color:#1f5d96;
	font-size:25px;
}

#po_title > span {
	color:#000000;
}

input::-webkit-input-placeholder {
	color:#bdbaba;
}

input:-moz-placeholder {
	color:#bdbaba;
}

input::-moz-placeholder {
	color:#bdbaba;
}

input:-ms-input-placeholder {
	color:#bdbaba;
}

input:focus::-webkit-input-placeholder {
	color:transparent;
}

input:focus:-moz-placeholder {
	color:transparent;
}

input:focus::-moz-placeholder {
	color:transparent;
}

input:focus:-ms-input-placeholder {
	color:transparent;
}

::-webkit-scrollbar {
    width:5px;
}
 
::-webkit-scrollbar-track {
    background:rgba(227, 227, 227, 0.8);
    -webkit-border-radius:10px;
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:10px;
    border-radius:10px;
    background:rgba(129,129,129,1); 
    
}
::-webkit-scrollbar-thumb:window-inactive {
	background:rgba(129,129,129,0.5);
}

#sidebar {
	position:relative;
	z-index:2;
	float:left;
	overflow:auto;
	width:300px;
	height:100%;
	-webkit-box-shadow:4px 3px 5px rgba(157, 157, 157, 0.04);
	-moz-box-shadow:4px 3px 5px rgba(157, 157, 157, 0.04);
	box-shadow:4px 3px 5px rgba(157, 157, 157, 0.04);
}

#users_list {
	position:relative;
	z-index:2;
	float:right;
	width:200px;
	height:100%;
	-webkit-box-shadow:-5px 0px 5px rgba(157, 157, 157, 0.04);
	-moz-box-shadow:-5px 0px 5px rgba(157, 157, 157, 0.04);
	box-shadow:-5px 0px 5px rgba(157, 157, 157, 0.04);
}

#client-content, #user_params, #teambuilder {
	display:none;
	position:relative;
	z-index:1;
	margin-left:300px;
	margin-right:200px;
	width:auto;
	height:100%;
	background-color:#f7f7f7;
}

#teambuilder {
	overflow:auto;
}

.middle_block#client-content {
	display:block;
}

#tab-titles {
    overflow-x:auto;
	display:table;
	width:100%;
	height:40px;
}

#tab-titles li {
	display:table-cell;
	color:#abaaaa;
	min-width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#e4e4e4;
	border-right:1px solid #d9d9d9;
	cursor:pointer;
}

ul#tab-titles a {
	display:block;
	color:#abaaaa;
	text-decoration:none;
}

ul#tab-titles, ul#tab-titles li {
	margin:0;padding:0;
}

#tab-titles li i {
	float:right;
	margin-right:5px;
	margin-top:3px;
}

#tab-titles li:last-child {
	border-right:none;
}

#tab-titles li:hover {
	background-color:#dbdbdb;
}

#tab-titles li.ui-tabs-active {
	color:#ffffff;
	background-color:#363636;
}

#tab-titles li i:hover {
	color:#000000;
}

#announcements {
	margin:20px;
	padding:5px;
	border:1px solid red;
	height:100px;
	overflow:auto;
	background-color:#f0f0f0;
	border:1px solid #e3e3e3;
	-webkit-box-shadow:0px 0px 7px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:0px 0px 7px rgba(50, 50, 50, 0.1);
	box-shadow:0px 0px 7px rgba(50, 50, 50, 0.1);
}

#chatTextArea {
	position:absolute;
	overflow:auto;
	top:40px;
	bottom:90px;
	left:0px;
	right:0px;
	padding:20px;
	border-top:1px solid #f2f2f2;
    display:block;
}

.send_chat_message {
	position:absolute;
	bottom:20px;
	left:20px;
	right:20px;
	padding-right:45px;
	background-color:#ffffff;
	border:1px solid #fefefe;
	outline:1px solid #f2f2f2;
}

.send_chat_message p {
	display:inline;
}

.send_chat_message p input {
	width:100%;
	height:48px;
	line-height:48px;
	text-indent:20px;
	border:none;
}

.send_chat_message i {
	color:#666666;
	position:absolute;
	top:15px;
	right:20px;
}

.send_chat_message i:hover {
	color:#363636;
	cursor:pointer;
}

#players_count {
	display:block;
	margin:25px;
	font-size:20px;
}

#search_filter {
	margin-left:25px;
	padding-right:5px;
	width:150px;
	height:40px;
	text-indent:10px;
	line-height:40px;
	background-color:#f9f9f9;
	border:1px solid #f2f2f2;
	-moz-border-radius:3px;
	border-radius:3px;
}

ul#player-list, ul#player-list li {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul#player-list {
	width:150px;
	padding:25px;
	position:absolute;
	top:130px;
	right:2px;
	bottom:0px;
	overflow:auto;
}

ul#player-list li  {
	margin-bottom:10px;
	font-weight:bold;
	cursor:pointer;
}

#po_title {
	color:#1f5d96;
	font-size:25px;
	margin:25px;
	display:block;
	cursor:pointer;
}

#trainer_img {
	position:relative;
	z-index:1;
	float:left;
	margin-left:25px;
}

#trainer_username {
	display:block;
	float:left;
	min-width:150px;
	height:40px;
	text-indent:20px;
	line-height:40px;
	color:#333333;
	background-color:#f9f9f9;
	border:1px solid #f2f2f2;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-top:20px;
	margin-left:-20px;
	cursor:pointer;
}

.click_button  {
	display:block;
	margin:3px;
	float:left;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	min-width:100px;
	padding:10px 0px;
	background-color:#1f5d96;
	border:1px solid transparent;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	text-transform:uppercase;
}

.click_button:hover {
	background-color:#3285d3;
}

.push_right {
	display:block;
	margin-left:25px;
}

.dropdown .icon-chevron-up  {
	display:none;
}

.dropdown_button {
	margin-left:25px;
	display:block;
	font-size:17px;
	font-weight:normal;
	padding:10px;
	margin-right:5px;
	border:1px solid transparent;
	-moz-border-radius:3px;
	border-radius:3px;
}

.dropdown_button:hover {
	background-color:#e5e5e5;
	cursor:pointer;
}

.dropdown_button > i {
	font-size:12px;
	float:right;
}

.dropdown_content {
	display:none;
}

.team_preview {
	color:#7b7b7b;
	font-size:11px;
	padding:10px 30px;
	margin:10px 0px;
	background-color:#f9f9f9;
	border-top:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter:alpha(opacity=20);
	opacity:0.2;
	cursor:pointer;
}

.team_preview:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70);
	opacity:0.7;
}

.team_preview.current_team {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
}

.team_preview img {
	margin:0;
	padding:0;
}

.team_preview strong {
	color:#000000;
}

.team_preview_options {
	float:right;
	width:15px;
}

.team_preview_options i {
	cursor:pointer;
}

.team_preview_options .icon-stack {
	font-size:11px;
}

.team_preview_options .icon-stack-base:hover {
	color:#c3c3c3;
}

.team_preview_options .icon-stack i:first-child {
	color:#d4d4d4;
}

ul#rankings, ul#rankings li {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul#rankings li {
	margin:10px;
	cursor:pointer;
}

.find-battle {
	margin:20px;
	margin-left:100px;
}

.player-battling {
	color:#b7b7b7;
	font-style:italic;
}

/* Teambuilder */

.pokemon-tabs-line {
	display:table;
	width:100%;
	border-top:1px solid #d9d9d9;
}

#teambuilder .pokemon-tabs-line:first-child {
	border-top:none;
}

.pokemon-tab {
	display:table-cell;
	box-sizing:border-box;
	width:auto;
	height:40px;
	line-height:40px;
	color:#abaaaa;
	background-color:#e4e4e4;
	border-right:1px solid #d9d9d9;
	cursor:pointer;
}

.pokemon-tabs-line .pokemon-tab:last-child {
	border-right:none;
}

.pokemon-tab:hover {
	background-color:#dddddd;
}

.pokemon-tab img {
	margin-left:15px;
	margin-right:10px;
	vertical-align:sub;
}

.pokemon-tab.active-pokemon-tab {
	color:#ebebeb;
	background-color:#363636;
}

#pokemon-parameters {
	margin-left:15px;
	margin:15px;
}

#pokemon-parameters .icon-gear {
	cursor:pointer;
}

#team-infos {
	display:none;
}

#team_form {
	overflow:hidden;
}

.pokemon-slot {
	display:none;
	padding-top:10px;
}

.pokemon-slot-top-left {
	width:40%;
	float:left;
}

.pokemon-slot-top-right {
	width:60%;
	color:#c2c2c2;
	float:right;
}

.pokemon-slot.active-pokemon-slot {
	display:block;
}

.pokemon-slot-sprite {
	display:block;
	width:100px;
	height:100px;
	float:left;
	margin-right:18px;
	margin-bottom:18px;
	background-color:#ffffff;
	border:1px solid #f2f2f2;
	border-radius:3px;
}

.pokemon-slot-sprite img {
	margin:auto;
	cursor:pointer;
}

.pokemon-slot-name {
	color:#363636;
	background:transparent;
	margin-bottom:10px;
	border:none;
	outline:none;
	font-size:20px;
	font-weight:lighter;
}

.pokemon-slot-type {
	display:inline-block;
	text-align:center;
	color:#ffffff;
	width:50px;
	cursor:default;
}

.pokemon-slot-type-block  {
	display:inline-block;
	height:25px;
	line-height:25px;
	overflow:hidden;
	font-size:10px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.pokemon-slot-gender-radio {
	display:none;
}

.pokemon-slot-gender-male-icon, .pokemon-slot-gender-female-icon {
	display:inline-block;
	width:26px;
	height:25px;
	border-radius:5px;
	margin-top:7px;
	cursor:pointer;
}

.pokemon-slot-gender-male-icon {
	background-image:url("../images/male.png");
}

.pokemon-slot-gender-female-icon {
	background-image:url("../images/female.png");
}

.pokemon-slot-gender-checked {
	background-color:#f0f0f0;
}

.pokemon-slot-nickname {
	width:100px;
	padding:10px;
	height:20px;
	line-height:20px;
	color:#8a8a8a;
	background-color:#ffffff;
	border:1px solid #f2f2f2;
	border-radius:3px;
}

.pokemon-slot-stat-content {
	position:relative;
	width:100%;
	height:10px;
	display:block;
	margin-bottom:6px;
}

.pokemon-slot-stat-block {
	position:absolute;
	top:0px;
	left:95px;
	right:0px;
	display:inline-block;
	overflow:hidden;
	height:10px;
	color:#979797;
	font-size:8px;
	font-weight:bold;
	margin-left:15px;
	background-color:#f5f5f5;
	border-radius:3px;
}

.pokemon-slot-stat-progress {
	display:block;
	width:0px;
	height:100%;
}

.pokemon-slot-stat-progress-1x {
	background-color:#e59292;
}

.pokemon-slot-stat-progress-2x {
	background-color:#f8efa2;
}

.pokemon-slot-stat-progress-3x {
	background-color:#dbf09c;
}

.pokemon-slot-stat-progress-4x {
	background-color:#bae38e;
}

.pokemon-slot-stat-name {
	position:absolute;
	bottom:-3px;
	left:0px;
	display:inline-block;
	width:90px;
	text-align:right;
}

.pokemon-slot-stat-value {
	position:absolute;
	bottom:0px;
	right:3px;
}

.pokemon-slot-advanced {
	float:right;
	width:130px;
}

.pokemon-slot-advanced-content {
	display:none;
}

/* pokemon types colors */

.pokemon-slot-type.grass {
	background-color:#79c02c;
}

.pokemon-slot-type.poison {
	background-color:#c42dcb;
}

.pokemon-slot-type.fire {
	background-color:#fc7a00;
}

.pokemon-slot-type.water {
	background-color:#3278b4;
}

.pokemon-slot-type.rock {
	background-color:#b19d20;
}

.pokemon-slot-type.ground {
	background-color:#bea344;
}

.pokemon-slot-type.steel {
	background-color:#a0b5b8;
}

.pokemon-slot-type.electric {
	background-color:#ebcd16;
}

.pokemon-slot-type.fighting {
	background-color:#c64404;
}

.pokemon-slot-type.normal {
	background-color:#d5ca72;
}

.pokemon-slot-type.ice {
	background-color:#29b2e1;
}

.pokemon-slot-type.flying {
	background-color:#3bd2ed;
}

.pokemon-slot-type.bug {
	background-color:#5e9025;
}

.pokemon-slot-type.psychic {
	background-color:#a0316f;
}

.pokemon-slot-type.dark {
	background-color:#3f3f3f;
}

.pokemon-slot-type.ghost {
	background-color:#654595;
}

.pokemon-slot-type.dragon {
	background-color:#ec4f38;
}

.pokemon-slot-type.fairy {
	background-color:#f28ff2;
}

.pokemon-slot-type.unknown {
	background-color:#39b37d;
}

/* end pokemon types */

.pokemon-evs-value {
	height:20px !important;
	line-height:20px !important;
	margin-top:50px !important;
	background-color:#ffffff !important;
	border:1px solid #f2f2f2 !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
}

.pokemon-evs {
	display:block;
	position:relative;
	float:left;
	width:20%;
}

.pokemon-evs div {
	display:block !important;
	margin:auto !important;
}

.pokemon-evs-stat-name {
	display:block;
	position:absolute;
	top:25px;
	left:0px;
	right:0px;
	text-align:center;
}

.moves-list {
	display:table;
	width:100%;
	max-height:160px;
	overflow:auto;
	background-color:#ffffff;
	border-collapse:collapse;
	border:1px solid #f2f2f2;
	-moz-border-radius:3px;
	border-radius:3px;
}

.move-infos {
	display:table-row;
	height:30px;
	text-align:left;
	line-height:30px;
	font-size:12px;
	color:#363636;
	border:1px solid #f2f2f2;
	border-bottom:1px solid transparent;
	cursor:pointer;
}

.moves-list .move-infos:first-child {
	border-top:1px solid transparent;
}

.moves-list .move-infos:hover {
	background-color:#e0e7ed;
	border:1px solid #acc3d6;
}

.move-type, .move-category {
	display:table-cell;
}

.move-type.pokemon-slot-type-block, .move-category.pokemon-slot-type-block {
	padding:5px;
	width:25px;
}

.move-name {
	display:table-cell;
	text-indent:10px;
	font-weight:bold;
}

.move-pp {
	display:table-cell;
	width:60px;
}

.move-bp {
	display:table-cell;
	width:100px;
}

.move-accuracy {
	display:table-cell;
	width:110px;
}