html, body {
	font-size:13px;
	font-family:Arial;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

input {
	outline:none; /* Removing Chrome's effect on inputs */
}

h1 {
	color:#1f5d96;
	font-size:25px;
}

#po_title > span {
	color:#000000;
}

input::-webkit-input-placeholder {
	color:#bdbaba;
}

input:-moz-placeholder {
	color:#bdbaba;
}

input::-moz-placeholder {
	color:#bdbaba;
}

input:-ms-input-placeholder {
	color:#bdbaba;
}

input:focus::-webkit-input-placeholder {
	color:transparent;
}

input:focus:-moz-placeholder {
	color:transparent;
}

input:focus::-moz-placeholder {
	color:transparent;
}

input:focus:-ms-input-placeholder {
	color:transparent;
}

::-webkit-scrollbar {
    width:5px;
}
 
::-webkit-scrollbar-track {
    background:rgba(227, 227, 227, 0.8);
    -webkit-border-radius:10px;
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:10px;
    border-radius:10px;
    background:rgba(129,129,129,1); 
    
}
::-webkit-scrollbar-thumb:window-inactive {
	background:rgba(129,129,129,0.5);
}

#sidebar {
	position:relative;
	z-index:2;
	float:left;
	overflow:auto;
	width:300px;
	height:100%;
	-webkit-box-shadow:4px 3px 5px rgba(157, 157, 157, 0.04);
	-moz-box-shadow:4px 3px 5px rgba(157, 157, 157, 0.04);
	box-shadow:4px 3px 5px rgba(157, 157, 157, 0.04);
}

#users_list {
	position:relative;
	z-index:2;
	float:right;
	width:200px;
	height:100%;
	-webkit-box-shadow:-5px 0px 5px rgba(157, 157, 157, 0.04);
	-moz-box-shadow:-5px 0px 5px rgba(157, 157, 157, 0.04);
	box-shadow:-5px 0px 5px rgba(157, 157, 157, 0.04);
}

#content {
	position:relative;
	z-index:1;
	margin-left:300px;
	margin-right:200px;
	width:auto;
	height:100%;
	background-color:#f7f7f7;
}

#tab-titles {
    overflow-x:auto;
	display:table;
	width:100%;
	height:40px;
}

#tab-titles li {
	display:table-cell;
	color:#abaaaa;
	min-width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#e4e4e4;
	border-right:1px solid #d9d9d9;
	cursor:pointer;
}

ul#tab-titles a {
	display:block;
	color:#abaaaa;
	text-decoration:none;
}

ul#tab-titles, ul#tab-titles li {
	margin:0;padding:0;
}

#tab-titles li i {
	float:right;
	margin-right:5px;
}

#tab-titles li:last-child {
	border-right:none;
}

#tab-titles li:hover {
	background-color:#dbdbdb;
}

#tab-titles li.ui-tabs-active {
	color:#ffffff;
	background-color:#363636;
}

#tab-titles li i:hover {
	color:#000000;
}

#announcements {
	margin:20px;
	padding:5px;
	border:1px solid red;
	height:100px;
	overflow:auto;
	background-color:#f0f0f0;
	border:1px solid #e3e3e3;
	-webkit-box-shadow:0px 0px 7px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:0px 0px 7px rgba(50, 50, 50, 0.1);
	box-shadow:0px 0px 7px rgba(50, 50, 50, 0.1);
}

#chatTextArea {
	overflow:auto;
	top:190px;
	bottom:90px;
	left:0px;
	right:0px;
	padding:20px;
	border-top:1px solid #f2f2f2;
    display:block;
}

.send_chat_message {
	position:absolute;
	bottom:20px;
	left:20px;
	right:20px;
	padding-right:45px;
	background-color:#ffffff;
	border:1px solid #fefefe;
	outline:1px solid #f2f2f2;
}

.send_chat_message p {
	display:inline;
}

.send_chat_message p input {
	width:100%;
	height:48px;
	line-height:48px;
	text-indent:20px;
	border:none;
}

.send_chat_message i {
	color:#666666;
	position:absolute;
	top:15px;
	right:20px;
}

.send_chat_message i:hover {
	color:#363636;
	cursor:pointer;
}

#players_count {
	display:block;
	margin:25px;
	font-size:20px;
}

#search_filter {
	margin-left:25px;
	padding-right:5px;
	width:150px;
	height:40px;
	text-indent:10px;
	line-height:40px;
	background-color:#f9f9f9;
	border:1px solid #f2f2f2;
	-moz-border-radius:3px;
	border-radius:3px;
}

ul#player-list, ul#player-list li {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul#player-list {
	width:150px;
	padding:25px;
	position:absolute;
	top:130px;
	right:2px;
	bottom:0px;
	overflow:auto;
}

ul#player-list li  {
	margin-bottom:10px;
	font-weight:bold;
	cursor:pointer;
}

#po_title {
	color:#1f5d96;
	font-size:25px;
	margin:25px;
	display:block;
}

#trainer_img {
	position:relative;
	z-index:1;
	float:left;
	margin-left:25px;
}

#trainer_username {
	display:block;
	float:left;
	min-width:150px;
	height:40px;
	text-indent:20px;
	line-height:40px;
	color:#333333;
	background-color:#f9f9f9;
	border:1px solid #f2f2f2;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-top:20px;
	margin-left:-20px;
	cursor:pointer;
}

.click_button  {
	display:block;
	margin:3px;
	float:left;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	min-width:100px;
	padding:10px 0px;
	background-color:#1f5d96;
	border:1px solid transparent;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
}

.button:hover {
	background-color:#3285d3;
}

.push_right {
	display:block;
	margin-left:25px;
}

.dropdown .icon-chevron-up  {
	display:none;
}

.dropdown_button {
	margin-left:25px;
	display:block;
	font-size:17px;
	font-weight:normal;
	padding:10px;
	margin-right:5px;
	border:1px solid transparent;
	-moz-border-radius:3px;
	border-radius:3px;
}

.dropdown_button:hover {
	background-color:#e5e5e5;
	cursor:pointer;
}

.dropdown_button > i {
	font-size:12px;
	float:right;
}

.dropdown_content {
	display:none;
}

.team_preview {
	color:#7b7b7b;
	font-size:11px;
	padding:10px 30px;
	margin:10px 0px;
	background-color:#f9f9f9;
	border-top:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter:alpha(opacity=20);
	opacity:0.2;
	cursor:pointer;
}

.team_preview:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70);
	opacity:0.7;
}

.team_preview.current_team {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
}

.team_preview img {
	margin:0;
	padding:0;
}

.team_preview strong {
	color:#000000;
}

.team_preview_options {
	float:right;
	width:15px;
}

.team_preview_options i {
	cursor:pointer;
}

.team_preview_options .icon-stack {
	font-size:11px;
}

.team_preview_options .icon-stack-base:hover {
	color:#c3c3c3;
}

.team_preview_options .icon-stack i:first-child {
	color:#d4d4d4;
}

ul#rankings, ul#rankings li {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul#rankings li {
	margin:10px;
	cursor:pointer;
}

.find-battle {
	margin:20px;
	margin-left:100px;
}