.textbox {
    font: 13px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(107, 145, 171);
    padding: 4px 5px;
    outline: 0px none;
    overflow: auto;
    border-radius: 2px;
}

#chatTextArea {
    width:800px;height:450px;
}

/* Without those, the channel tabs look messed up */
table {
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.welcome-message {
    color: blue;
}

.announcement {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    border-radius: 2px;
    border: 1px solid grey;
    background: #ffffcd;
    padding: 2px;
    text-align: center;
}

.announcement span, .announcement td {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}
