.textbox {
    font: 13px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(107, 145, 171);
    padding: 4px 5px;
    outline: 0px none;
    overflow: auto;
    border-radius: 2px;
}

#channel-tabs {
    font-size: 13px;
}

#chatTextArea {
    width:800px;height:450px;
}

/* Without those, the channel tabs look messed up on firefox */
table {
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.announcement {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    border-radius: 2px;
    border: 1px solid grey;
    background: #ffffcd;
    padding: 2px;
    text-align: center;
    visibility: hidden;
}

.announcement span, .announcement td {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}
/* Moves the client part into the centre:
.client {
    margin-left: 20%;
}*/

/* name of server message */
.server-message {
    color: orange;
    font-weight: bold;
}

/* timestamp and name of welcome message */
.welcome-message {
    color: blue;
    font-weight: bold;
}

/* timestamp and name of scripted message / unknown name */
.script-message {
    color: #318739;
    font-weight: bold;
}

.player-message {
    font-weight: bold;
}

/* line beginning with *** */
.action {
    color: magenta;
}

/* Fix auto complete results being too big */
li[role="presentation"] {
    font-size: 11px;
}
