html, body, .container, .sidebar, #channel-tabs {
    height: 100%;
}

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.container {
    width: 100%;
    background-color: #eeeeee;
}

.sidebar {
    background: #191919;
    /*float: left;*/
    width: 200px;
}

.contents {
    height: 100%;
    /*margin-left: 207px;*/margin-left: 7px;
    background-color: #FFF;
    border-left: 1px solid #e2e2e2;
}

.logo {
    font-size: 50px;
    font-weight: 100;
    color: #4c4c4c;
    margin: 20px 10px;
    text-align: right;
}

/*.logo:before {
    content: "[BETA]";
    position: relative;
}*/

.textbox {
    font: 13px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(107, 145, 171);
    padding: 4px 5px;
    margin-bottom: 4px;
    outline: 0px none;
    overflow: auto;
    border-radius: 2px;
}

#channel-tabs {
    font-size: 13px;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#chatTextArea {

}

.announcement {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    border-radius: 2px;
    border: 1px solid grey;
    background: #ffffcd;
    padding: 2px;
    text-align: center;
    visibility: hidden;
    margin: auto;
}

.announcement span, .announcement td, .announcement table, .announcement img {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
    margin: auto;
}

.player-list {
    /*height: 600px;*/
    overflow: auto;
}

.player-list-item {
    font-size: 13px;
    color: #616161;
    line-height: 2;
    padding-left: 18px;
}

.player-list-item:hover, .player-list-item.selected {
    background-color: #252525;
}

/* Moves the client part into the centre:
.client {
    margin-left: 20%;
}*/

/* Fix auto complete results being too big */
li[role="presentation"] {
    font-size: 11px;
}
