html, body, .container, .sidebar, #channel-tabs {
    height: 100%;
}

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    /* font-weight: 300; */
}

.ui-dialog {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
}

/* Activity in the tab (new message etc.) */
.ui-state-default a.tab-active {
    color: #2a56fd; /* need a better color */
}

#colorPicker .farbtastic {
    margin: auto;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.container {
    width: 100%;
    background-color: #eeeeee;
}

.sidebar {
    background: #191919;
    /*float: left;*/
    width: 200px;
}

.contents {
    height: 100%;
    /*margin-left: 207px;*/margin-left: 7px;
    background-color: #FFF;
    border-left: 1px solid #e2e2e2;
}

.logo {
    font-size: 50px;
    font-weight: 100;
    color: #4c4c4c;
    margin: 20px 10px;
    text-align: right;
    position: relative;
}

.logo:before {
    content: "[BETA]";
    position: absolute;
    right: 65px;
    top: 8px;
    color: red;
    font-size: 11px;
}

.textbox {
    /*font: 13px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;*/
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 0 !important;
    padding: 4px 5px;
    margin-bottom: 4px;
    outline: 0px none;
    overflow: auto;
    border-radius: 2px;
    line-height: 18px;
}

#channel-tabs {
    font-size: 13px;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#channel-tabs input[type="text"] {
    width: 500px;
}

#chatTextArea {

}

.announcement {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;
    border-radius: 2px;
    border: 1px solid grey;
    background: #ffffcd;
    padding: 2px;
    text-align: center;
    visibility: hidden;
    margin: auto;
}

.announcement span, .announcement td, .announcement table, .announcement img {
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
    margin: auto;
}

.player-list {
    /*height: 600px;*/
    overflow: auto;
    margin-top: 200px;
}

.player-list-item {
    font-size: 13px;
    color: #616161;
    height: 40px;
    line-height: 40px;
    padding-left: 18px;
    cursor: pointer;

    /* Can't be selected */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player-list-item.player-battling {
    color: #5d838c;
}

.player-list-item:hover, .player-list-item.selected {
    background-color: #252525;
}

/* Moves the client part into the centre:
.client {
    margin-left: 20%;
}*/

/* Fix auto complete results being too big */
li[role="presentation"] {
    font-size: 11px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #111;
}

.find-battle {
    margin: 20px 0 0 35px;
    font-weight: bold;
    text-transform: uppercase;
    background: #1087da;
    color: #FFF;
    font-size: 16px;
    border-radius: 2px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
}